/********** HEADER **********/
/****************************/
.header_container {
  background: #009ec1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_container .header_element {
  padding: 0.3em 1.5em;
}

.header_container .header_element:first-child {
  background-color: white;
  transition: 0.3s;
}

.header_container .header_element:first-child:hover {
  padding: 0.3em 2.5em;
}

.header_container .header_element .header_logo {
  width: 2.5em;
}

.header_container .header_element .header_profil {
  cursor: pointer;
  color: white;
  padding: 0.5em;
  border-radius: 50%;
  transition: 0.2s;
}

.header_container .header_element .header_profil:hover {
  background-color: #4dbbd4;
}

.header_container .profil_dropdown {
  font-family: "Open Sans";
  position: absolute;
  width: 100%;
  top: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  z-index: 99;
}

@media screen and (min-width: 1000px) {
  .header_container .profil_dropdown {
    width: auto;
  }
}

.header_container .profil_dropdown .profil_element_header {
  color: white;
  border-bottom: 1px solid white;
  font-size: 1em;
  padding: 1em 0;
  width: 100%;
  background-color: #003853;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .header_container .profil_dropdown .profil_element_header {
    font-size: 0.8em;
    padding: 0.5em 0;
    font-size: 0.8em;
  }
}

.header_container .profil_dropdown .profil_element {
  color: white;
  padding: 1.5em 0;
  width: 100%;
  background-color: #009ec1;
  text-align: center;
  font-size: 1.5em;
  transition: 0.3s;
}

@media screen and (min-width: 1000px) {
  .header_container .profil_dropdown .profil_element {
    width: 6em;
    padding: 0.8em 5em;
    font-size: 1em;
  }
}

.header_container .profil_dropdown .profil_element:hover {
  background-color: #4dbbd4;
}

.flexdisplay {
  display: flex;
}

.nonedisplay {
  display: none;
}
