/********** HEADER **********/
/****************************/

.header_container {
    background: #009ec1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .header_element {
        padding: 0.3em 1.5em;
        &:first-child {
            background-color: white;
            transition: 0.3s;
            &:hover {
                padding: 0.3em 2.5em;
            }
        }
        .header_logo {
            width: 2.5em;
        }
        .header_profil {
            cursor: pointer;
            color: white;
            padding: 0.5em;
            border-radius: 50%;
            transition: 0.2s;
            &:hover {
                background-color: #4dbbd4;
            }
        }
    }
    .profil_dropdown {
        position: absolute;
        width: 100%;
        top: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 0;
        z-index: 500;
        @media screen and (min-width:1000px) {
            width: auto;
        }
        .profil_element_header {
            color: white;
            border-bottom: 1px solid white;
            font-size: 1em;
            padding: 1em 0;
            width: 100%;
            background-color: $darkblue;
            text-align: center;
            @media screen and (min-width:1000px) {
                font-size: 0.8em;
                padding: 0.5em 0;
                font-size: 0.8em;
            }
        }
        .profil_element {
            color: white;
            padding: 1.5em 0;
            width: 100%;
            background-color: $lightblue;
            text-align: center;
            font-size: 1.5em;
            transition: 0.3s;
            @media screen and (min-width:1000px) {
                padding: 0.8em 5em;
                font-size: 1em;
            }
            &:hover {
                background-color: #4dbbd4;
            }
        }
    }
}

.flexdisplay {
    display: flex!important;
}

.nonedisplay {
    display: none!important;
}
