#home {
    input:not([type=checkbox]):not(#searchBar),
    select {
        outline: none;
        padding: 11px;
        background-color: #f7f7f7;
        width: 100%;
    }
    input[type=number] {
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &::-o-inner-spin-button {
            -o-appearance: none;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 50px 0;
        .text {
            max-width: 770px;
            padding: 0 20px;
            text-align: center;
            margin: 50px 0 0 0;
        }
        &:nth-child(2) {
            position: sticky;
            top: 0;
        }
        &:nth-child(3) {
            @media screen and (min-width: $desktop) {
                flex-direction: row;
                justify-content: space-around;
                .col {
                    width: 50%;
                    max-width: 550px;
                }
            }
            .card {
                background-color: $white;
                padding: 20px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                z-index: -1;
                margin: 0 0 20px 0;
                @media screen and (min-width: $desktop) {
                    margin: 0 0 50px 0;
                }
                .domain {
                    font-size: 14px;
                    margin: 0 0 20px 0;
                    color: $darkgrey;
                }
                .title {
                    font-size: 16px;
                    font-weight: bold;
                    @media screen and (min-width: $desktop) {
                        font-size: 20px;
                    }
                }
                .date {
                    font-size: 10px;
                    font-weight: lighter;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: $lightgrey;
                }
            }
            .h2 {
                text-align: center;
                margin: 0 0 20px 0;
                @media screen and (min-width: $desktop) {
                    margin: 0 0 50px 0;
                }
            }
        }
    }

    .search-container {
        width: 100%;
        background-color: $lightblue;
        display: flex;
        padding: 20px;
        #searchField {
            width: 100%;
            max-width: 500px;
            overflow: hidden;
            min-height: 44px;
            border-radius: 22px;
            display: flex;
            margin: auto;
            #searchBar {
                background-color: rgba(255,255,255,0.1);
                width: 100%;
                color: $white;
                padding: 0 22px;
            }
            .material-icons {
                color: $white;
                background-color: rgba(255,255,255,0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 44px;
            }
        }
    }

    .accordion {
        position: relative;
        width: 100%;
        .collapsed-button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 44px;
            &:hover {
                cursor: pointer;
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
        .collapsed {
            background-color: white;
            position: absolute;
            right: 0;
            left: 0;
            top: 100%;
            display: flex;
            justify-content: center;
            padding: 20px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
            &:not(.show) {
                display: none;
            }
            .filters {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                max-width: 700px;
                .field {
                    width: 100%;
                    @media screen and (min-width: $desktop) {
                        width: 50%;
                    }
                    padding: 10px;
                    label {
                        margin: 0 0 5px 0;
                        display: inline-block;
                    }
                }
                .btn {
                    margin: 20px 0 0 0;
                }
                .group {
                    div {
                        display: flex;
                        justify-content: flex-end;
                        label {
                            color: $darkgrey;
                        }
                    }
                }
                input[type=checkbox] {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}
