@import "reset.scss";
@import "header.scss";
@import "home.scss";
@import "results.scss";
@import "register.scss";


/*********** MAIN ***********/
/****************************/

.btn {
    padding: 0.5em 5em;
    color: white;
    border-radius: 3em;
    font-size: 1.2em;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background-color: #009ec100;
    }
    &.btn_blue {
        background-color: #009ec1;
        border: 1px solid #009ec1;
        &:hover {
            color: #009ec1;
            background-color: #009ec100;
        }
    }
}
