$lightblue: #009EC1;
$darkblue: #003853;
$white: #FFFFFF;
$lightgrey: #C9C7C7;
$darkgrey: #646463;
$black: #000000;
$desktop: 1000px;

@import "reset.scss";
@import "header.scss";
@import "home.scss";
@import "trainingResults.scss";
@import "register.scss";
@import "trainingDetails.scss";

/*********** MAIN ***********/
/****************************/
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

input,
select {
    min-height: 44px;
    border-radius: 22px;
}

.btn {
    padding: 0.5em 5em;
    color: white;
    border-radius: 3em;
    font-size: 1.2em;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background-color: #009ec100;
    }
    &.btn_blue {
        background-color: #009ec1;
        border: 1px solid #009ec1;
        &:hover {
            color: #009ec1;
            background-color: #009ec100;
        }
    }
}
