/********** REGISTER **********/
/******************************/
.register_container {
  font-family: 'Open Sans';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .register_container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .register_container:hover {
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
            box-shadow: 0px 0px 10px 0px #656565;
  }
}

.register_container .register_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  cursor: pointer;
}

.register_container .register {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 1em 0;
  width: 50%;
  text-transform: uppercase;
}

.register_container .register_active {
  background-color: #009ec1;
  color: white;
  font-size: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.register_container .register_active:hover {
  background-color: #4dbbd4;
}

.register_container .register_not_active {
  background-color: white;
  color: black;
  font-size: 0.7em;
  border-bottom: 0.5px solid #c9c7c7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.register_container .register_not_active:hover {
  background-color: #eeeeee;
}

#registration_form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#registration_form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0 1em;
}

@media screen and (min-width: 1000px) {
  #registration_form div {
    margin: 0 5em;
  }
}

#registration_form div:first-child {
  padding: 2em 0 1em;
}

#registration_form div:last-child {
  padding: 1em 0 2em;
}

#registration_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#registration_form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1em 0 2em;
}

.width_btn {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .width_btn {
    width: auto;
  }
}

#registration_form input {
  padding: 0.5em 1em;
  width: 100%;
  color: black;
  border-radius: 3em;
  font-size: 1.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: text;
  border: 1px solid #646463;
}

#registration_form input:focus {
  border: 1px solid #009ec1;
  color: #009ec1;
  outline: none;
}

@media screen and (min-width: 1000px) {
  #registration_form input {
    width: 20em;
  }
}
/*# sourceMappingURL=register.css.map */