/********** RESET **********/
/***************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,body,header,main,footer,nav,aside,section,a,p,pre,code,table,td,th,td,tr,h1,h2,h3,
h4,h5,h6,img,ul,ol,li,span,div,button,form,label,input,textarea,select,object {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
}
