/********** RESET **********/
/***************************/

html,body,header,main,footer,nav,aside,section,a,p,pre,code,table,td,th,td,tr,h1,h2,h3,
h4,h5,h6,img,ul,ol,li,span,div,button,form,label,input,textarea,select,object {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body {
    background: #f7f7f7;
}

/****/

.header_container {
    background: #009ec1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_container a {
}

.header_element {
    width: 2em;
    padding: 0.5em 1.5em;
}

.header_element:first-child {
    background-color: white
}

.header_logo {
    width: 2em;
}