.detail_title {
  background-color: white;
  display: flex;
  padding: 1em;
}

.detail_title h1 {
  font-size: 1.2em;
  padding-left: 1em;
}

.section_container {
  padding: 2em;
}

.section_container .section {
  padding: 1em 0;
  display: flex;
}

.section_container .section .detail_icon {
  padding-right: 1em;
}
