#results {
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        &:not(.show) {
            display: none;
        }
        .inner {
            background-color: $white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p {
                margin: 0 0 20px 0;
            }
            div {
                display: flex;
            }
            .btn {
                margin: 0 5px;
                padding: 10px 20px;
            }
        }
    }
    .searchBar {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        z-index: 300;
        position: relative;
        min-height: 44px;
        padding: 10px;
        @media screen and (min-width: $desktop) {
            padding: 40px;
            height: auto;
        }
        .searchInput {
            font-size: 20px;
            background: none;
            color: $darkgrey;
            @media screen and (min-width: $desktop) {
                font-size: 40px;
            }
        }
        .searchIcon {
            font-size: 40px;
            color: $darkgrey;
        }
    }
    .wrapper {
        display: flex;
        .container {
            width: 100%;
            &.filters {
                position: absolute;
                right: 100%;
                background-color: $white;
                box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
                display: flex;
                flex-direction: column;
                padding: 20px;
                z-index: 200;
                @media screen and (min-width: $desktop) {
                    position: static;
                    width: 25%;
                    max-width: 500px;
                    .inner {
                        position: sticky;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        max-height: 100vh;
                        padding: 20px 0;
                    }
                }
                &.show {
                    right: auto;
                    .filters-title {
                        .icon {
                            left: auto;
                            right: 10px;
                            top: 22px;
                        }
                    }
                }
                input:not([type=checkbox]):not(#searchBar),
                select {
                    outline: none;
                    padding: 8px 10px;
                    background-color: #f7f7f7;
                    width: 100%;
                    margin: 0 0 10px 0;
                    font-size: 12px;
                }
                label {
                    margin: 0 0 5px 5px;
                    font-size: 12px;
                }
                input[type=number] {
                    -moz-appearance: textfield;
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                    &::-o-inner-spin-button {
                        -o-appearance: none;
                    }
                }
                .group {
                    margin: 0 0 20px 0;
                    div {
                        display: flex;
                        justify-content: flex-end;
                        label {
                            color: $darkgrey;
                        }
                    }
                }
                input[type=checkbox] {
                    margin: 0 0 0 10px;
                }
                .filters-title {
                    font-size: 16px;
                    margin: 0 0 20px 0;
                    display: flex;
                    align-items: center;
                    color: $darkgrey;
                    .icon {
                        position: absolute;
                        left: calc(100% + 20px);
                        margin: 0 10px 0 0;
                        top: 30px;
                        @media screen and (min-width: $desktop) {
                            position: static;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .group {
                    display: flex;
                    flex-direction: column;
                }
                .btn {
                    margin: 0 0 20px 0;
                }
            }
            &.results {
                @media screen and (min-width: $desktop) {
                    width: 75%;
                }
                .toolbar {
                    background-color: $white;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
                    padding: 20px;
                    width: 100%;
                    display: flex;
                    z-index: 10;
                    position: sticky;
                    top: 0;
                    justify-content: flex-end;
                    z-index: 100;
                    .nbresults {
                        flex-grow: 1;
                        color: $lightgrey;
                        align-self: center;
                        display: none;
                        @media screen and (min-width: $desktop) {
                            display: inherit;
                        }
                    }
                    select {
                        background-color: #f7f7f7;
                        padding: 0 10px;
                    }
                    button {
                        border-radius: 22px;
                        height: 44px;
                        width: 44px;
                        background: none;
                        background-color: #f7f7f7;
                        &:hover {
                            cursor: pointer;
                        }
                        &.export {
                            background-color: $lightblue;
                            color: $white;
                            @media screen and (min-width: $desktop) {
                                margin: 0 0 0 100px;
                            }
                        }
                        &.order {
                            margin: 0 20px;
                        }
                    }
                }
                .listing {
                    .formation {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        color: $black;
                        &:nth-child(even) {
                            background-color: $white;
                        }
                        &:hover {
                            cursor: pointer;
                            .see-more {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                width: 44px;
                                height: 44px;
                                color: $white;
                                z-index: 10;
                                font-size: 30px;
                                background-color: rgba(0, 56, 83, 0.3);
                                border-radius: 22px;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                background-color: #009EC1;
                                opacity: 0.3;
                            }
                        }
                        .row {
                            display: flex;
                            justify-content: space-between;
                            &:not(:last-of-type) {
                                margin: 0 0 10px 0;
                            }
                            span {
                                display: flex;
                                align-items: center;
                                .material-icons {
                                    margin: 0 10px 0 0;
                                }
                            }
                            .title {
                                font-weight: bolder;
                            }
                            .domaine {
                                color: $lightgrey;
                            }
                        }
                    }
                    .see-more {
                        display: none;
                    }
                }
            }
        }
    }
}
