<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        
        {% block stylesheets %}
        <link rel="stylesheets" href="">
        {% endblock %}
        <title>Site de ses morts !</title>
    </head>
    <body>
        <header class="header_container">
            <img class="header_logo" src="" alt="Logo" title="Logo">
            <img class="header_profil" src="" alt="Profil" title="Profil">
        </header>